div.card-product {
  .card-image {
    figure.image {
      img {
        height: 350px;
      }
    }
  }

  .card-content {
    padding: 0.5rem;

    .title {
      margin-bottom: 0.5rem;
    }
  }
}
